[workspace]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "modular-gptoss-mxfp4"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
mojo = ">=0.26.1.0.dev2025112005,<0.27"
modular = ">=26.1.0.dev2025112005,<27"
python = ">=3.11.0,<3.12"
